.homepage-container {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sixth;
    .stephan-title {
        margin: 23% 0 0 0;
        font-size: 50px;
    }
    .stephan-sub-title {
        font-size: 30px;
    }
    img {
        width: 25px;
    }
   
}
