.homepage-container {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sixth;
    .stephan-title {
        margin: 23% 16% 0 16%;
        // font-family: sixth;
        font-size: 50px;
    }
    .stephan-sub-title{
        font-size: 30px;
    }
}
