.about-container {
    position: absolute;
    width: 80%;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 60px;
    text-align: center;
    font-family: 'sixth';
    .about-text {
        margin: 10% 0 0 0;
    }
    .cv-button {
        padding: 8px;
        background-color: #100083;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 12px 0 0 0;
        color: white;
    }
    .cv-button:hover{
        background-color: #0f0083be;
    }
}
