@media only screen and (max-width: 728px) {
    .navlinks-warp {
        
        display: flex;
        justify-content: space-evenly;
        a {
            margin: 0 !important;
        }
    }

    .nav-socials {
        display: none !important;
    }
}
