.navbar {
    top: 0;
    /* right: 0; */
    position: fixed;
    padding: 15px 0;
    /* left: 0; */
    /* margin: auto; */
    text-align: center;
    width: 100%;
    background-color: #f1dceb;
    .navbar-container {
        // display: flex;
        // width: 80%;
        // margin: auto;
        font-family: second;
        // align-items: baseline;
        // justify-content: center;
        .stephan-title {
            text-decoration: none;
            color: #296af5;
            font-size: 17px;
        }
        .navlinks {
            font-size: 20px;
            color: #9a00e6;
        }
        .nav-socials {
            font-family: "sixth";
            display: flex;
            position: fixed;
            flex-direction: column;
            right: 20px;
            top: 37%;
            img {
                margin: 0 0px 10px 0px;
                width: 20px;
                cursor: pointer;
            }
        }

        .navlinks-warp {
            a {
                margin: 0 20px 0 0;
                text-decoration: none;
            }
            a:hover {
                color: #9b05e6a8;
            }
        }
    }
}
.margin-top {
    margin-top: 60px;
    padding: 0 0 80px 0;
}
